api/workflows/add-swag.asl.json
{
  "Comment": "Add swag to index if it was successfully processed",
  "StartAt": "Get Image Processing Record",
  "States": {
    "Get Image Processing Record": {
      "Type": "Task",
      "Resource": "${DynamoDBGetItem}",
      "Parameters": {
        "TableName": "${SwagTable}",
        "Key": {
          "pk": {
            "S.$": "$$.Execution.Input.referenceNumber"
          },
          "sk": {
            "S": "image"
          }
        }
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.Item.status.S",
              "IsPresent": true
            },
            {
              "Variable": "$.Item.status.S",
              "StringEquals": "Processing"
            }
          ],
          "Next": "Wait"
        },
        {
          "And": [
            {
              "Variable": "$.Item.status.S",
              "IsPresent": true
            },
            {
              "Variable": "$.Item.status.S",
              "StringEquals": "Success"
            }
          ],
          "Next": "Get Existing Swag"
        }
      ],
      "Default": "Delete Swag Record"
    },
    "Delete Swag Record": {
      "Type": "Task",
      "Resource": "${DynamoDBDeleteItem}",
      "Parameters": {
        "TableName": "MyDynamoDBTable",
        "Key": {
          "pk": {
            "S.$": "$$.Execution.Input.swagKey"
          },
          "sk": {
            "S": "swag"
          }
        }
      },
      "Next": "Has Contact Info?"
    },
    "Has Contact Info?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$$.Execution.Input.createdBy",
          "IsPresent": true,
          "Next": "Format Failed to Add Swag Message"
        }
      ],
      "Default": "Did Not Add Swag"
    },
    "Format Failed to Add Swag Message": {
      "Type": "Pass",
      "Parameters": {
        "topicName.$": "$$.Execution.Input.createdBy",
        "message": {
          "result": "Failed",
          "message": "Something went wrong processing your swag. Please try again"
        }
      },
      "Next": "Send Failure Notification"
    },
    "Send Failure Notification": {
      "Type": "Task",
      "Resource": "${EventBridgePutEvents}",
      "Parameters": {
        "Entries": [
          {
            "Detail": {
              "cacheName": "reinvent",
              "topicName.$": "$.topicName",
              "message.$": "States.Base64Encode(States.JsonToString($.message))"
            },
            "DetailType": "topicPublish",
            "Source": "AddSwagStateMachine"
          }
        ]
      },
      "Next": "Did Not Add Swag"
    },
    "Did Not Add Swag": {
      "Type": "Fail",
      "Error": "SwagNotAdded"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Get Image Processing Record"
    },
    "Get Existing Swag": {
      "Type": "Task",
      "Resource": "${DynamoDBGetItem}",
      "Parameters": {
        "TableName": "${SwagTable}",
        "Key": {
          "pk": {
            "S.$": "States.Format('{}#{}', $$.Execution.Input.from, $.Item.type.S)"
          },
          "sk": {
            "S": "swag"
          }
        }
      },
      "Next": "Is New Swag?",
      "ResultPath": "$.existingItem"
    },
    "Is New Swag?": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.existingItem.Item.pk",
            "IsPresent": true
          },
          "Next": "Save Swag"
        }
      ],
      "Default": "Update Database Records"
    },
    "Update Database Records": {
      "Type": "Parallel",
      "Next": "Success",
      "Branches": [
        {
          "StartAt": "Create Additional Item Record",
          "States": {
            "Create Additional Item Record": {
              "Type": "Task",
              "Resource": "${DynamoDBPutItem}",
              "Parameters": {
                "TableName": "${SwagTable}",
                "Item": {
                  "pk": {
                    "S.$": "States.Format('{}#{}', $$.Execution.Input.from, $.Item.type.S)"
                  },
                  "sk": {
                    "S.$": "States.Format('additionalImage#{}', $$.Execution.Input.referenceNumber)"
                  },
                  "url": {
                    "S.$": "$.Item.url.S"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Update Main Swag Record ETag",
          "States": {
            "Update Main Swag Record ETag": {
              "Type": "Task",
              "Resource": "${DynamoDBUpdateItem}",
              "Parameters": {
                "TableName": "${SwagTable}",
                "Key": {
                  "pk": {
                    "S.$": "States.Format('{}#{}', $$.Execution.Input.from, $.Item.type.S)"
                  },
                  "sk": {
                    "S": "swag"
                  }
                },
                "UpdateExpression": "SET etag = :etag",
                "ExpressionAttributeValues": {
                  ":etag": {
                    "S.$": "$$.State.EnteredTime"
                  }
                }
              },
              "End": true
            }
          }
        }
      ]
    },
    "Save Swag": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "Parameters": {
        "Payload": {
          "input.$": "$$.Execution.Input",
          "type.$": "$.Item.type.S",
          "url.$": "$.Item.url.S"
        },
        "FunctionName": "${SaveSwagFunction}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Add to Momento Vector Index",
      "OutputPath": "$.Payload"
    },
    "Add to Momento Vector Index": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${AddToMVIFunction}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Failed to Index",
          "ResultPath": null
        }
      ]
    },
    "Failed to Index": {
      "Type": "Fail",
      "Error": "FailedToIndex"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
